.btn{
    width: 100px;
    height: 50px;
    background-color: #005d2a;
    border: none;
    font-size: large;
    cursor: pointer;
    border: 2px solid white;
}


.btn:hover{
    background-color: greenyellow;
    border-color: black;

}
.btn:active{
    color: aliceblue;
    background-color: rgb(35, 211, 8);
    border-color: #005d2a;
}

body{
    background: url("https://images.unsplash.com/photo-1607743882420-4412ee605bac?q=80&w=1935&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}  

#h1{
    color: aliceblue;
}

.paragraf{
    color: aliceblue;
}